
<div id="container-one">
<div id="image-one">
<img src=" {{response.image}} " alt=" picture of {{response.title}} ">
</div>
<div id="description-one">
<a href="/movies">Go back</a>
<h2> {{response.title}} </h2>
<h3> Director: {{response.director}} </h3>
<h4>Starts</h4>
<br>
<ul>
    {{#each response.stars}}
    <li>{{this}}</li>
    {{/each}}
     </ul>


     <p> {{response.description}} </p>

     <span> 


     {{#each response.showtimes}}
    {{this}} | 
    
    {{/each}}
    </span>
    
     </div>
     </div>